.home-content {
  display: flex;
  gap: 50px;
}

.featured-container {
  margin-top: 30px;
}

.featured-title {
  font-size: 64px;
  background-image: linear-gradient(
    to right,
    var(--darkhighlight),
    var(--brighthighlight)
  );
  border-radius: 0px 60px 0px 0px;
}

.featured-post {
  margin-top: 60px;
  display: flex;
  align-items: center;
  gap: 50px;
}

.featured-imgContainer {
  flex: 1;
  height: 500px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.featured-image {
  object-fit: cover;
}
.featured-textContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.featured-postTitle {
  font-size: 40px;
}
.featured-postTitle:hover {
  background-color: var(--darkhighlight);
  transition: 0.3s;
  font-weight: 900;
  cursor: pointer;
}

.featured-postDesc {
  font-size: 20px;
  font-weight: 300;
  color: var(--textColor);
}

.catListtitle {
  margin: 50px 0px;
}
.catListcategories {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.catListcategory {
  display: flex;
  font-size: 24px;
  align-items: center;
  gap: 10px;
  text-transform: capitalize;
  width: 15%;
  height: 80px;
  justify-content: center;
  border-radius: 10px;
}

.catListcategory.cat1 {
  background-color: var(--brighthighlight);
}
.catListcategory.cat2 {
  background-color: var(--brighthighlight);
}
.catListcategory.cat3 {
  background-color: var(--brighthighlight);
}
.catListcategory.cat4 {
  background-color: var(--brighthighlight);
}
.catListcategory:hover {
  background-color: var(--darkhighlight);
  transition: 0.3s;
  font-weight: 600;
}

.catListimage {
  border-radius: 50%;
}

.cardListcontainer {
  flex: 5;
}

.cardListtitle {
  margin: 50px 0px;
}

.postcontainer {
  margin-bottom: 80px;
  display: flex;
  gap: 50px;
  align-items: center;
}

.postimageContainer {
  flex: 1;
  height: 350px;
  position: relative;
  border: 4px solid var(--darkhighlight);
  border-radius: 10px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.postimage {
  max-height: 350px;
}

.aboutimage {
  max-width: 800px;
}

.about-imgContainer {
  flex: 1;
  width: 500px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.posttextContainer {
  display: flex;
  flex: 1;
  gap: 30px;
  flex-direction: column;
}

.carddetail {
  height: 4rem;

  background-image: linear-gradient(
    to right,
    var(--darkhighlight),
    var(--brighthighlight)
  );
  border-radius: 0px 60px 0px 0px;
}

.postcategory,
.postdate {
  font-weight: 550;
  color: var(--textColor);
}
.postdesc {
  font-size: 18px;
  font-weight: 300;
  color: var(--softTextcolor);
}

.menupostitems {
  margin-top: 35px;
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.menupostitem {
  display: flex;
  align-items: center;
  margin-top: 35px;
  margin-bottom: 60px;
  gap: 20px;
  background-image: linear-gradient(var(--softbg), var(--darkbg));
  border-radius: 20px;
}

.menupostimageContainer {
  flex: 1;
  aspect-ratio: 1/1;
  position: relative;
}

.menupostimage {
  border-radius: 50%;
  border: 3px solid lightgray;
  object-fit: cover;
}

.menuposttextContainer {
  flex: 4;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.menupostcategory {
  padding: 3px 8px;
  border-radius: 10px;
  font-size: 18px;
  width: max-content;
  color: var(--textColor);
  text-transform: capitalize;
}

.menupostTitle {
  font-size: 24px;
  font-weight: 500;
  color: var(--softTextColor);
}

.menupostTitle:hover {
  background-color: var(--darkhighlight);
  transition: 0.3s;
  font-weight: 600;
  cursor: pointer;
}

.menupostdetail {
  font-size: 16px;
}
.menupostdate {
  color: gray;
}

.menucategoryList {
  margin-top: 35px;
  margin-bottom: 60px;
  align-items: center;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.menucategoryItem {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 14px;
  background-color: var(--brighthighlight);
}
.menucategoryItem:hover {
  background-color: var(--darkhighlight);
  transition: 0.3s;
  font-weight: 600;
}

.menucontainer {
  flex: 2;
  margin-top: 60px;
}

.postTitle:hover {
  background-color: var(--darkhighlight);
  transition: 0.3s;
  font-weight: 800;
  cursor: pointer;
}

.menutitle {
  font-size: 20px;
}

.blogcontent {
  display: flex;
  gap: 50px;
}
